// Button Base

%button {
  border-radius: $button-radius;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  border: $border-style $border-width transparent;
  &:hover {
    text-decoration: none;
  }
}

// Button Size

.button-sm {
  @extend %button;
  padding: 0.25rem .75rem;
  font-size: 0.85rem;
}

.button-md {
  @extend %button;
  padding: 0.50rem 1rem;
  font-size: 1rem;
}

.button-lg {
  @extend %button;
  padding: .75rem 1.25rem;
  font-size: 1.15rem;
}

// Button Colors

.button-primary {
  background-color: none;
  color: $color-primary;
  border-color: $color-primary;
  &:hover {
    color: #fff;
    background-color: $color-primary;
    border-color: $color-primary;
  }
}
