/*!
 * Uniform v0.0.1 (https://github.com/tristanjarrett/uniform/)
 * License: MIT
 * Author: Tristan Jarrett (https://github.com/tristanjarrett/)
 */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

body {
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: #444;
  background-color: #fff; }

a {
  color: #0086e6;
  text-decoration: none; }
  a:hover {
    color: #0068b3;
    text-decoration: none; }

.container-xs, .container-sm, .container-md, .container-lg, .container-full {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem; }

.container-xs {
  max-width: 600px; }

.container-sm {
  max-width: 800px; }

.container-md {
  max-width: 1000px; }

.container-lg {
  max-width: 1200px; }

.container-full {
  max-width: 100%; }

.button-sm, .button-md, .button-lg {
  border-radius: 0.25rem;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  border: solid 2px transparent; }
  .button-sm:hover, .button-md:hover, .button-lg:hover {
    text-decoration: none; }

.button-sm {
  padding: 0.25rem .75rem;
  font-size: 0.85rem; }

.button-md {
  padding: 0.50rem 1rem;
  font-size: 1rem; }

.button-lg {
  padding: .75rem 1.25rem;
  font-size: 1.15rem; }

.button-primary {
  background-color: none;
  color: #0086e6;
  border-color: #0086e6; }
  .button-primary:hover {
    color: #fff;
    background-color: #0086e6;
    border-color: #0086e6; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.underline {
  text-decoration: underline; }

.bold {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  background-color: #ffffff; }

th,
td {
  text-align: left;
  padding: 0.75rem; }

thead th {
  border-bottom: solid 2px #e1e1e1; }

tfoot th {
  border-top: solid 2px #e1e1e1; }

td {
  border-bottom: solid 1px #e1e1e1; }

.table-striped tbody tr:nth-child(odd) {
  background-color: #f2f2f2; }

.table-flush th,
.table-flush td {
  padding: 0.75rem 0; }

.table-bordered {
  border: solid 1px #e1e1e1; }
  .table-bordered th,
  .table-bordered td {
    border-right: solid 1px #e1e1e1;
    padding: 0.75rem !important; }
    .table-bordered th:last-child,
    .table-bordered td:last-child {
      border-right: none; }

.table-bordered-x th,
.table-bordered-x td {
  border-right: solid 1px #e1e1e1;
  padding: 0.75rem !important; }
  .table-bordered-x th:last-child,
  .table-bordered-x td:last-child {
    border-right: none; }

.table-bordered-y thead th {
  border-top: solid 1px #e1e1e1; }
.table-bordered-y tfoot th {
  border-bottom: solid 1px #e1e1e1; }

.table-scroll {
  overflow-x: auto; }

/*# sourceMappingURL=uniform.css.map */
